.feed {
  margin-left: 15%;
  margin-right: 15%;
}

.feed-item {
  min-height: 4em;
  margin-bottom: 8%;
  padding: 0.25em .5em;
  box-shadow: 0px 2px 4px 1px #e1e1e1;
  border-radius: 3px;
  background-color: white;
}

.feed-item > div p {
  padding-top: 1em;
}

.feed-item > div button {
  margin-top: 0.45em;
}
