html,
body {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

textarea,
button {
  box-sizing: border-box;
}

.grid {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  margin: 0 1%;
}

.fill {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill-space {
  box-sizing: border-box;
  padding: 0.25em;
}

.col-1 { width: 6.33%; }

.col-2 { width: 14.66%; }

.col-3 { width: 23%; }

.col-4 { width: 31.33%; }

.col-5 { width: 39.66%; }

.col-6 { width: 48%; }

.col-7 { width: 56.33%; }

.col-8 { width: 64.66%; }

.col-9 { width: 73%; }

.col-10 { width: 81.33%; }

.col-11 { width: 89.66%; }

.col-12 { width: 98%; }

.row {
  width: 100%;
  text-align: left;
  margin: 2% 0;
}

.row::after {
  content: '';
  clear: both;
  display: block;
}
