.group-messaging-container {
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px #e1e1e1;
  border-radius: 4px;
}

.group-messaging-container > * {
  margin: 0;
}

.groups-container {
  border: solid 1px #e6e6e6;
}

.suggestions-container {
  height: 26em;
  overflow-y: auto;
}

.group {
  background-color: #fff;
  border-bottom: solid 1px #e6e6e6;
  border-right: solid 1px #e6e6e6;
  padding: 1em;
}

.group-messaging {
  height: 40em;
  background-color: white;
  padding: 1em;
}

.group-message-input {
  margin: none;
}

.write-message {
  border: none;
}

.messages {
  height: 33em;
  overflow-y: auto;
  background-color: #f3f7fb;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.right-message-bubble {
  border: none;
  background-color: #d5edff;
  color: #3a466a;
  word-wrap: break-word;
}

.left-message-bubble {
  border: none;
  color: #3a466a;
  word-wrap: break-word;
}

.group-dashboard {
  height: 40em;
  background-color: white;
  padding-top: 1em;
  padding-left: 1em;
  width: 36%;
}

.create-group-friends-dropdown {
  display: none;
}
