.index-fund-container {
  position: relative;
}

.index-fund {
  max-width: 100%;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.container:hover .overlay {
  opacity: 1;
  vertical-align: bottom;
}

.overlay p {
  color: #fff;
}
