* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /*background-color: rgba(50, 155, 200, 0.1);*/
}

body {
  background-color: #f9f9f9;
}

p {
  color: #333;
}

input, select, textarea, button {
  outline: none;
  border: 1px solid #e3e3e3;
  padding: 1.25em 1em 1.25em 1em;
  font-size: 12px;
}

input {
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 4px;
  height: 100%;
  background-color: #1289ed;
  color: #fff;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  border-radius: 100%;
}

.card {
  border-radius: 4px;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px #e1e1e1;
}

.card-border {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px #e1e1e1;
  padding: 1em;
}

.icon {
  height: 3em;
  width: 3em;
  margin: 0.5em;
  margin-bottom: -1.15em;
}

.red {
  color: #FC522A;
}

.green {
  color: #03CB97;
}

.heading-1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.heading-2 { }

.text { }

.mono {
  font-family: "Roboto Mono", monospace;
}

.small-space { height: 1em; }

.space { height: 3em; }

.delete-me-shrink-icon {
  padding: 0.45em;
}

@media screen and (min-width: 1100px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
