.hidden_nav {
  height: 5em;
  margin-bottom: 4%;
}

.nav {
  width: 100%;
  min-height: 5em;
  padding: 0.5em 5%;
  margin-bottom: 4%;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 5px 1px #eee;
  background-color: #fff;
}

.nav-item {
  display: inline-block;
}

.nav-search {
  min-width: 18em;
  height: 100%;
  margin-left: 10em;
  position: relative;
}

.nav-search-results {
  position: absolute;
  z-index: 1;
  width: 40%;
}

.nav-search-results-items {
  background-color: #fff;
  border: solid 1px #e6e6e6;
  padding: 0.5em;
  margin-top: 1em;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 4px;
  border: solid #e3e3e3 1px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 1000px) {
  .nav {
    width: 100%;
    min-height: 5em;
    padding: 0.5em 20%;
    margin-bottom: 4%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 5px 1px #eee;
    /*box-shadow: 0px 4px 20px #888888;*/
    background-color: #fff;
  }
}
